
<div class="container">
    <div class="row">
    
    <div class="form-group col-md-6">
          <input type="text" class="form-control"  placeholder="Enter Employee Id" [(ngModel)]="s.e.eid">
      </div>

      <div class="form-group col-md-6">
          <input type="text" class="form-control"  placeholder="Enter Employee Name" [(ngModel)]="s.e.ename">
      </div>
    
      <div class="form-group col-md-6">
        <input type="text" class="form-control"  placeholder="Enter Employee email" [(ngModel)]="s.e.email">
      </div>

      <div class="form-group col-md-6">
        <input type="text" class="form-control"  placeholder="Enter Employee mobile" [(ngModel)]="s.e.mobile">
      </div>

      <div class="form-group"> 
        <button class="btn btn-primary" (click)="submitdata(s.e)">{{s.c}}</button>
    </div>

    

    <div class="form-group"> 
      <button  class="btn btn-primary" (click)="resetdata()"[hidden]="s.x">reset</button>
  </div>
  
</div>
  
    
