
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="table-primary">Employee Id</th>
        <th class="table-primary">Employee Name</th>
        <th class="table-primary">Email Id</th>
        <th class="table-primary">Mobile No</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let e of emplist'>
        
        <td class="table-danger">{{e.eid}}</td>
        <td class="table-danger">{{e.ename}}</td>
        <td class="table-danger">{{e.email}}</td>
        <td class="table-danger">{{e.mobile}}</td>
        

        <button type="button" class="btn btn-dark"(click)="editdata(e)">Edit</button>  
        <button type="button" class="btn btn-danger" (click)="deletedata(e.eid)">Delete</button>
      
      </tr>
    </tbody>
  </table>

      

  


  
  